/*********************************************/
/*              TYPOGRAPHY CSS               "/
/*********************************************/


@font-face {
    /* Définition of font called Roboto*/
    font-family: "Roboto";
    src: url("../../../public/fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    /* Définition of font called Shrikhand*/
    font-family: "Shrikhand";
    src: url("../../../public/fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


  // @font-face {
  //   /* Définition of font called Poppins*/
  //   font-family: "SPoppins";
  //   src: url("../../../public/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  //   font-weight: normal;
  //   font-style: normal;
  // }

// Load font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

$font-family-sans-serif: "Poppins", sans-serif;

