/*fade in */
@keyframes fade {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/*animation to fade in */
@keyframes fadein {
    from { opacity: 0; transform: translateY(10%);}
    to   { opacity: 1;  transform: translateY(0);}
}

/*fade out */
@keyframes fadeout {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
