
/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/
// Overide bootstrap default variables before the import

$teal:    #20c997;
$cyan:    #0dcaf0;

$primary: $teal;
$secondary: $cyan;

// $enable-rounded:  false;


