
/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/
// Overide bootstrap default variables before the import

$teal:    #20c997;
$primary: $teal;

// used for GoToTop button
$position-values: (
  0: 0,
  10: 10%,
  50: 50%,
  90: 90%,
  100: 100%
);